@charset "utf-8";

/* MAIN */

main {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 20px 20px 20px;
}

.aside,
.content,
.gold {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.aside {
  width: 15%;
  margin-right: 1%;
  background-color: #fdfff3;
}

.gold {
  width: 100%;
  height: fit-content;
  font-family: Kelson Sans RU, Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #b69b00;
  color: white;
  padding: 5px 0;
  font-size: 1.5em;
}

.menu-item {
  border-bottom: 1px solid silver;
}

.menu-item a {
  display: block;
  padding: 10px;
  font-size: 1.3em;
}

.menu-item:hover {
  background-color: #fab397;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 84%;
  background-color: #fdfff3;
  text-align: center;
}

.prod20 {
  display: inline-block;
  position: relative;
  width: 20%;
}

.prod30 {
  display: inline-block;
  position: relative;
  width: 33.33%;
}

.prod50 {
  display: inline-block;
  position: relative;
  width: 50%;
}

.prod100 {
  display: block;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.wrapper-product {
  position: relative;
  padding: 5px;
  text-align: center;
  overflow: hidden;
}

.new {
  position: absolute;
  right: 0;
  background-image: url("../img/home/new.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.sale {
  position: absolute;
  right: 0;
  background-image: url("../img/home/sale.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.price {
  color: #b69b00;
  font-weight: 600;
  padding-top: 20px;
  font-size: 2em;
}

.title-product {
  display: block;
  font-size: 1.1em;
  padding: 20px 0 70px;
}

.title-product-details {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  padding: 20px 0;
}

.condition {
  padding-left: 10px;
  text-align: left;
}

.condition p:nth-child(3) {
  padding-bottom: 70px;
}

.condition-p {
  padding: 10px 0;
  font-size: 1.3em;
  text-indent: 1.5em;
}

.bold {
  font-weight: 600;
}

.add-to-cart {
  display: block;
  width: 98%;
  position: absolute;
  bottom: 10px;
  left: 1%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.9em;
  border: 1px solid black;
  border-radius: 5px;
}

.add-to-cart:hover {
  background-color: #fab397;
  cursor: pointer;
}

.img-logo {
  display: inline-block;
  width: 98%;
  margin: 5px auto;
}
.img-logo-150 {
  display: inline-block;
  width: 150px;
  margin: 5px auto;
}

.total {
  display: flex;
  margin: 20px 0 20px 450px;
  padding: 10px;
  font-size: 1.7em;
  font-weight: 600;
  background-color: #cccbcb;
  justify-content: space-between;
  max-width: 500px;
}

.add-to-cart img {
  display: inline-block;
  width: 30px;
}

.pagination {
  width: 100%;
}
.pagination-ul {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
  margin: 20px 0;
  border-radius: 4px;
  width: 100%;
}

.pagination li {
  display: inline;
  padding: 5px 10px;
  font-size: 1.3em;
}

.pagination li:hover {
  background-color: #fab397;
}

.pagination-active {
  background-color: #fab397;
}

/* Cart */

.inline-div {
  display: inline-block;
}

.table {
  width: 100%;
  background-color: #d8f5eb;
}

thead tr {
  background-color: #00aeef;
}

th {
  font-weight: bolder;
}

td,
th {
  vertical-align: middle;
  border: 1px solid silver;
  padding: 5px;
  font-size: 20px;
}

tr td:nth-child(1) {
  font-weight: bold;
}

/* FORM */

form {
  padding: 15px;
  border-right: 2px solid #292828;
  border-radius: 10px;
  background-color: #faf0cd;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 0;
}

label {
  padding-left: 10px;
  font-size: 1.5em;
}

input,
textarea {
  font-size: 1.3em;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  max-height: 200px;
}

/* select,
input[name="captcha"],
input[name="captcha2"], */
input[name="name"],
input[type="password"],
input[name="email"],
input[type="text"],
textarea {
  border: 3px solid silver;
}

button[type="submit"] {
  width: 100%;
  background-color: #fab397;
  padding: 10px 0;
  font-size: 1.5em;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #ffdacb;
}

select:focus,
input:focus,
textarea:focus {
  border: 3px solid #b69b00;
}

.label {
  font-size: 1.5em;
}

.login-form,
.signup-form {
  display: block;
  width: 100%;
}

.form {
  display: inline-block;
  text-align: left;
}

.back-to-top {
  display: block;
  position: fixed;
  bottom: 80px;
  right: 40px;
  width: 70px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url(../img/back-up.svg);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: 70px;
  height: 70px;
}

.back-to-top:hover {
  background-color: blanchedalmond;
}

/* FOOTER */

footer {
  display: flex;
  width: 100%;
  overflow: auto;
  justify-content: center;
  padding: 20px 20px;
  background: radial-gradient(
    ellipse 100% 100% at 50% 50%,
    hsla(34deg, 38%, 98%, 1) 25%,
    hsla(34deg, 38%, 98%, 0) 75%
  );
  font-size: 18px;
}

@media (max-width: 1278px) and (min-width: 986px) {
  .add-to-cart {
    font-size: 1.3em;
  }
}
@media (max-width: 987px) and (min-width: 786px) {
  .aside {
    margin-right: 0;
  }

  .aside,
  .content {
    width: 100%;
  }

  .prod20 {
    width: 33.33%;
  }
  .add-to-cart {
    font-size: 1.2em;
  }

  .hicon-index,
  .hicon-products,
  .hicon-cart,
  .hicon-product-details {
    background-size: 30px;
    height: 30px;
  }
  .price {
    font-size: 1.8em;
    font-weight: 300;
    padding-top: 15px;
  }
}

@media (max-width: 787px) and (min-width: 555px) {
  .aside {
    margin-right: 0;
  }

  .aside,
  .content {
    width: 100%;
  }

  .prod20,
  .prod30 {
    width: 50%;
  }

  .add-to-cart {
    font-size: 1.2em;
  }

  .hicon-index,
  .hicon-products,
  .hicon-cart,
  .hicon-product-details {
    background-size: 30px;
    height: 30px;
  }
  .price {
    font-size: 1.5em;
    padding-top: 10px;
  }
  .total {
    margin: 20px 0 20px 250px;
  }
}

@media (max-width: 556px) and (min-width: 320px) {
  .nav {
    width: calc(100% - 270px);
  }
  .logo-nix {
    width: 250px;
  }
  .logo-nix img {
    width: 100px;
  }
  .aside {
    margin-right: 0;
  }

  .aside,
  .content {
    width: 100%;
  }

  .prod20,
  .prod30,
  .prod50 {
    width: 100%;
  }

  .add-to-cart {
    font-size: 1.2em;
  }

  h1 {
    font-size: 20px;
  }
  .hicon-index,
  .hicon-products,
  .hicon-cart,
  .hicon-product-details {
    background-size: 30px;
    height: 30px;
  }
  td {
    padding: 2px;
  }
  .price {
    font-size: 1.2em;
    font-weight: 300;
    padding-top: 5px;
  }
  .total {
    margin: 20px 0 20px 150px;
  }
}

@media (max-width: 321px) {
  .nav {
    width: calc(100% - 270px);
  }
  .logo-nix {
    width: 250px;
  }
  .logo-nix img {
    width: 100px;
  }
  .aside {
    margin-right: 0;
  }

  .aside,
  .content {
    width: 100%;
  }

  .prod20,
  .prod30,
  .prod50 {
    width: 100%;
  }

  .add-to-cart {
    font-size: 1.2em;
  }

  h1 {
    font-size: 18px;
  }
  .hicon-index,
  .hicon-products,
  .hicon-cart,
  .hicon-product-details {
    background-size: 30px;
    height: 30px;
  }
  td {
    padding: 2px;
  }
  .price {
    font-size: 1.1em;
    font-weight: 300;
    padding: 5px;
  }
  .total {
    margin: 20px 0 20px 20px;
  }
}
